.app {
	color: #fff;
	width: 100%;
	height: 100vh;
	
}

h1 {
	padding-left: 20px;
}

.message .message-btn{
margin-right: -20px;
}


.form_pages {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:100%;
	justify-content: center;
}

.btn {
	padding: 10px;
}

.buttons {
	display: flex;
	justify-content: space-between;
	margin: 20px auto;
}


.message {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.dashboard-wrapper {
	padding: 0 20px;
	height: calc(100vh-100px);
	margin: 20px;
}

.btn {
	padding: 5px;
	margin-left: 25px;
	font-size: 20px;
	font-weight: bolder;
	background-color: #d1515a;
	color: white;
	border: none;
	text-decoration: none;
}

.btns {
	padding: 10px;
	font-size: 14px;
	width: 80px;
	margin:10px;
	font-weight: bolder;
	background-color: #d1515a;
	color: white;
	border: none;
	text-decoration: none;
}

.btn-new{
	display:inline-block;
	justify-content: center;
	margin:auto;
	margin:10px;
	width:60px;
	/* flex-direction: row; */
}

.new-button{
	margin-left:10px;
}

.messages {
	display: flex;
	height: calc(100vh-100px);
	flex-direction: column;
	align-items: center;
	margin: auto;
	white-space: nowrap;
}

.updatemessage {
	padding: 0 20px;
	height: 90%;
	width: 60vw;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.updatemessage textarea {
	height: 120px;
	width: 98%;
}

.card {
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-justify: center;
	margin: auto;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	padding-bottom: 20px;
}

.cardtext {
	width: 400px;
	text-justify: center;
}

.signup_form {
	
	width: 300px;
	padding: 20px 30px;
	border-radius: 5px;
	font-size: 20px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-items: center;
	margin: auto;
}

.signup_form textarea{
	width:260px;
	height: 100px;
}

.signup_form h2 {
	margin-bottom: -5px;
}

.btn {
	margin-top: 20px;
}

.messages {
	/* height: calc(100vh - 300px); */
	display: grid;
	width: 90vw;
	gap: 1em;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 1.5rem;
	text-align: center;
	align-content: center;
}

.message {
	display: flex;
	flex-direction: row;
	height:50px;
	padding: 5px 0;
	background-color: #091f43;
	color: white;
}

.message h3 {
	margin: auto;
}

.message .message-btn {
	height:50px;
	width:30px;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	display:flex;
	justify-content: center;
	align-items: center;
}

.updatemessage .btn{
	margin-left: 0;
	margin-bottom: 20px;
}

.comment .btns{
	width:50px;
	padding: 2px;
	margin: 2px;
}

.comment p{
	margin: 0 5px;
}

.comment{
	display: flex;
	align-items: center;
	justify-content: center;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {
	.updatemessage{
		width: 300px;
		height:fit-content;
		margin: auto;

	}

	.updatemessage textarea {
		height: 300px;
		width: 280px;
	}

	.form_pages{
		margin-top: 30px;
		justify-content: center;
		align-content: center;
	}

	.navbar{
		display: none;
	}

	.dashboard-wrapper{
		margin:0;
	}

	.messages{
		margin: 5px;
	}

	.dashboard-btn{
		margin-bottom: 10px;
	}

	.btn-wrapper{
		display: flex;
		flex-direction: row;
	}

	.card{
		width: 340px;
	}

	.cardtext{
		width: 300px;
	}

	.card .btns{
		width: 80px;
	}

	.card .buttons{
		width: 340px;
	}

	.card .btn-new{
		width: 80px;
	}

	
  }

  @media only screen and (min-width: 481px) and (max-width: 767px){

  }