.dashboard-wrapper {
    padding: 0 20px;
    margin: 20px;
    /* background-color: #aeaeae; */
    /* overflow-y: auto; /* Use auto instead of scroll to hide the scrollbar */
    /* height: calc(100vh - 195px);  */
    /* white-space:nowrap; */
  }

  .btn{
    padding: 5px;
    margin-left:25px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #d1515a;
    color:white;
    border: none;
    text-decoration: none;
  }
  
 
  