.header_wrapper{
    display:flex;
    justify-content: space-between;
    color:white;
    background-color: #091f43;
    height:100px;
    align-items: center;
    width:100%;
    margin:auto;
    border-bottom: 5px solid #d1515a;;
    
}

img{
    width:200px;
    padding:10px
}

/* @media only screen and (min-width: 320px) and (max-width: 480px){
    img{
        width:100px
    } */
/* } */
